{%- liquid
  comment
    Renders the content for the "Media with content split" section. This also includes the "Image with content split" and
    "Video with content split" sections, which only exist for backwards compatibility.

    Required parameters:
      - section: { Object } The section object.
  endcomment
-%}

{% liquid
  assign show_animations = false

  if settings.enable_section_animations and section.settings.section_style_enable_animation
    assign show_animations = true
  endif

  assign section_class = 'media-with-content-split media-with-content section'

  if show_animations
    assign section_class = section_class | append: ' animation animation--media-with-content-split'
  endif

  assign content_is_full_width = true

  if section.settings.content_width == 'custom'
    assign content_is_full_width = false
  endif

  assign prioritize_loading = false
  if section.index == 1
    assign prioritize_loading = true
  endif
-%}

{%- capture media -%}
  {%- if section.settings.media_type == 'image' -%}
    {% render 'image',
      wrapper_class: 'media-with-content__media-item media-with-content__media-item--desktop',
      image: section.settings.image,
      sizes: '(min-width: 1024px) 60vw, 100vw',
      aspect_ratio: section.settings.media_aspect_ratio,
      focal_point: section.settings.media_focal_point,
      include_placeholder: true,
      animate: show_animations,
      prioritize_loading: prioritize_loading
    -%}

    {%- if section.settings.mobile_image != blank -%}
      {% render 'image',
        wrapper_class: 'media-with-content__media-item media-with-content__media-item--mobile',
        image: section.settings.mobile_image,
        sizes: '(min-width: 1024px) 60vw, 100vw',
        aspect_ratio: section.settings.mobile_media_aspect_ratio,
        focal_point: section.settings.mobile_media_focal_point,
        include_placeholder: true,
        animate: show_animations,
        prioritize_loading: prioritize_loading
      -%}
    {%- endif -%}
  {%- else -%}
    {%- render 'background-video',
      video: section.settings.video,
      enable_mobile_video: true,
      mobile_video: section.settings.mobile_video,
      focal_point: section.settings.media_focal_point,
      focal_point_mobile: section.settings.mobile_media_focal_point,
      aspect_ratio: section.settings.media_aspect_ratio,
      aspect_ratio_mobile: section.settings.mobile_media_aspect_ratio,
      class: 'media-with-content__media-item',
      placeholder_name: 'image',
      animate: show_animations,
      has_overlay: true
    -%}
  {%-  endif -%}
{%- endcapture -%}

{%- capture content -%}
  {% render 'section-blocks',
    blocks: section.blocks,
    alignment: section.settings.content_alignment,
    full_width: content_is_full_width,
    image_block_break_to_mobile_at: '720'
  -%}
{%- endcapture -%}

<div
  class="{{ section_class }}"
  data-section-id="{{ section.id }}"
  data-section-type="media-with-content-split"
  data-media-position-desktop="{{ section.settings.media_position_desktop }}"
  style="
    {% render 'settings-color-schemes-style', local_settings: section.settings %}
    {% render 'settings-section-style-style' %}
  "
>
  <div class="section-inner section-inner--full-width">
    {% render 'media-with-content',
      content: content,
      content_is_full_width: content_is_full_width,
      content_width: section.settings.custom_width,
      content_alignment: section.settings.content_alignment,
      media: media,
      media_container_width: section.settings.media_width,
      media_position_desktop: section.settings.media_position_desktop,
      media_position_mobile: section.settings.media_position_mobile,
      show_animations: show_animations
    -%}
  </div>
</div>
