{% comment %}
  PRODUCT PRICE SNIPPET
  Displays regular product price with compare price
  
  This is used when customer has NO tier tag
{% endcomment %}

{%- if product != blank -%}
  <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>

  {% comment %} Show strikethrough compare price if it exists {% endcomment %}
  <s data-compare-price>
    {%- liquid
      if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price
        echo product.selected_or_first_available_variant.compare_at_price | money
      endif
    -%}
  </s>

  {% comment %} Show regular price {% endcomment %}
  <span data-price>{{ product.selected_or_first_available_variant.price | money }}</span>

{%- else -%}
  <span>{{ 9999 | money }}</span>
{%- endif %}
